<!--/********************************************************************************
* BTI325 – Assignment 03
*
* I declare that this assignment is my own work in accordance with Seneca's
* Academic Integrity Policy:
*
* https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
*
* Name: Kabir Narula____ Student ID: 127962223____ Date: _15 October 2023__
*
********************************************************************************/ -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>

        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost sm:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>Link</a></li>
              <li>
                <details>
                  <summary>
                    Parent
                  </summary>
                  <ul class="p-2 bg-base-100">
                    <li><a>Link 1</a></li>
                    <li><a>Link 2</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </div>
      
        <div class="navbar-center hidden sm:flex"></div>
          <ul class="menu menu-horizontal px-1">
            <li><a href="/about">About</a></li>
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100">
                  <li><a href="/lego/sets?theme=Star Wars">Star Wars</a></li>
                  <li><a href="/lego/sets?theme=Promotional">Yorkshire Terrier</a></li>
                  <li><a href="/lego/sets?theme=Pick A Model">Christmas Tree</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>


    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img src="https://i0.pickpik.com/photos/286/573/109/error-not-found-404-lego-preview.jpg" class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">ERROR: 404</h1>
            <p class="py-6">Oop! We can't find what you are looking for. </p>
          </div>
        </div>
      </div>
    
</body>
</html>