<!-- /views/addSet.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Set</title>
  <link rel="stylesheet" href="/css/main.css" />
  
  <style>
    
    body {
      background-color: #f8f8f8;
      font-family: 'Arial', sans-serif;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      animation: fadeIn 0.5s ease; 
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #2c3e50; /* Change text color to beige */
      text-align: center;
    }

    form {
      display: grid;
      gap: 15px;
    }

    label {
      font-weight: bold;
      color: #2c3e50; /* Change label color to beige */
    }

    input,
    select,
    button {
      width: 100%;
      padding: 12px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s ease;
    }

    input:focus,
    select:focus {
      border-color: #8b5cf6;
    }

    button {
      background-color: rgba(137, 43, 226, 0.632);
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease; 
    }

    button:hover {
      background-color:  rgba(135, 207, 235, 0.462);
    }
  </style>
</head>

<body>
 
  <%- include('partials/navbar', { page: '/lego/addSet' }) %>

  <div class="container mx-auto">
    <h1>Add Set</h1>

    <form action="/lego/addSet" method="POST">
      <!-- Set Name -->
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <!-- Year -->
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" required>

      <!-- Number of Parts -->
      <label for="num_parts">Number of Parts:</label>
      <input type="number" id="num_parts" name="num_parts" required>

      <!-- Image URL -->
      <label for="img_url">Image URL:</label>
      <input type="url" id="img_url" name="img_url" required>

      <!-- Theme ID -->
      <label for="theme_id">Theme:</label>
      <select id="theme_id" name="theme_id" required>
        <% themes.forEach(theme => { %>
        <option value="<%= theme.id %>"><%= theme.name %></option>
        <% }) %>
      </select>

      <!-- Set Number -->
      <label for="set_num">Set Number:</label>
      <input type="text" id="set_num" name="set_num" required>

      <!-- Submit Button -->
      <button type="submit">Add Set</button>
    </form>
  </div>


</body>

</html>
